/**inizo common**/


/**fine common**/

/**inizio header**/

#logo{
vertical-align: middle;
}

.logo-title{
color: rgb(5, 5, 105);
font-size: 40px;
vertical-align: middle;
font-weight: bold;
}

/**fine header**/


