/**inizo common**/
body{
    margin: 0;
    background-color: lightslategray;
}

/**fine common**/

/**inizio header**/

header{
height: 70px;
background-color: white;
padding: 10px 20px;
}

#logo{
 height: 100%;
 vertical-align:middle;   
}

.logo-title{
color: rgb(5, 5, 105);
font-size: 50px;
vertical-align: middle;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

/**fine header**/

/**inizio main**/

#container{
  width: 70%;
  margin: auto;
  margin-top: 50px;
  height: 50px;
}

.intestazione, .lista{
background-color: white;
padding: 10px 10px;

}
.intestazione{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 3px;
  }

.lista{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.btn{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
   
}

.btn-blue{
  border: 1px solid lightskyblue;
  color: white;
  background-color:lightskyblue ;
}

.btn-white{
  border: solid 1px lightslategray;
  color: lightslategray;
  background-color: white;
}

h3{
  margin: 0px;
}


 li h3::before{
    font-size: 20px;
    font-weight: bold ;
     content:'\25BE';
    font-family: Arial, Helvetica, sans-serif;
    margin:
  }

  ul{
      padding:10px;
     
    }
  li{
  list-style: none;
  padding: 5px;
  margin-top: 2px;
}

.circleV::before{
   width: 15px;
   height: 15px;
    margin-right: 10px;
    line-height: 15px;
    border-radius: 50%;
    display:inline-block;
    border:solid 1px green;
    color: green;
    content: '\2713';
   }

   .tag{
     border-radius: 10px;
    padding: 5px 10px;
    color: white;
    font-size: 10px;
     }

   .tag-blue{
     background-color: lightskyblue;
   }

   .tag-purple{
     background-color: rgb(139, 90, 139);
   }

   .tag-green{
     background-color: seagreen;
   }

   .tag-orange{
     background-color: rgb(221, 97, 40);
   }
   .tag-lightgreen{
     background-color:lightgreen;
   }

   
   .circleX::before{
     border: solid 1px red;
     color: red;
     content: '\2713';
     margin-right: 10px;
     line-height: 15px;
     display: inline-block;
     text-align:center;

   }

   /**fine maider**/